<section class="author-summary">

  <p>
  Prasanna Natarajan <em>designs</em> cloud-scale infrastructure, <em>develops</em> great webapps with Ruby, Rails, ReactJS, and <em>deploys</em> them in the cloud.
  He's the Tech Wolf who solves Problems for Businesses.
  </p>

  <img src="/assets/images/prasanna.jpg" width="150" height="150" alt="Prasanna Natarajan">

  <ul>
    <li>+917708087998</li>
    <li>prasanna @ npras . in</li>
    <li><a href="http://tech.npras.in">Tech Blog(tech.npras.in)</a></li>
    <li><a href="http://npras.in">Portfolio Site(npras.in)</a></li>
    <li><a href="http://github.com/npras">Github</a></li>
  </ul>

</section>
