<section class="author-summary">

  <p>
  Prasanna Natarajan designs cloud-scale infrastructure, develops great webapps with Ruby, Rails, ReactJS, and deploys them in the cloud.
  </p>

  <img class="author" src="/assets/images/prasanna.jpg" width="150" height="150" alt="Prasanna Natarajan">

  <ul>
    <li><a href="tel:+91-80955-36527">+91-80955-36527</a></li>
    <li>prasanna@npras.in</li>
    <li><a href="http://tech.npras.in">Tech Blog</a></li>
    <li><a href="http://npras.in">Portfolio Site</a></li>
    <li><a href="http://github.com/npras">Github</a></li>
  </ul>

</section>
